body {
    background-color: #ebeef0;
}
.float-left {
    float: left;
}

.margin-top-2 {
    margin-top: 2%;
}

a {
  cursor: pointer;
  color: #006960;
}

.margin-left-2 {
    margin-left: 2%;
}

.margin-top-1 {
    margin-top: 1%;
}

.margin-bottom-2 {
    margin-bottom: 2%;
}

label {
    margin-bottom: 0#FFF;
}

.padding {
    padding: 1%;
}
.background-color {
    background-color: rgb(235,235,235);
}

.border {
    border-radius: 1%;
}

input[type=number] {
    width: 7%
}

.active_anchor {
    color: #39c2d7;
    font-weight: bold;
}

.input-style {
    width: 50%;
    height: 30px;
    border-radius: 4px;
    padding: 4px;
}

input[type=file] {
    position: absolute; 
    clip: rect(0 0 0 0);
}
.panel-dimentions {
    width: 55%;
    margin-left: 25%;
}

.footer-css {
    margin-top: 15px;
    float: right;
}

.glyphicon-edit {
    cursor: pointer;
}

.img-dimensions {
    margin-top: 10px;
    width: 46%;
}

img {
    border: 1px solid;
}

.input-dimentions {
    width: 71%;
    float: left;
    margin-right: 1%;
}

.search-button-css.btn {
    background-color: #a3c644;
    color: #fff;
}